<div class="text-layout">
  <h1>Pipes NO comunes</h1>
  <p>Pipes incluídos en Angular - Usualmente en el Common Module.</p>
</div>

<div class="grid">
  <div class="col-6">
    <p-fieldset legend="I18nSelect Pipe" [toggleable]="true">
      <p>Saludos {{ nombre }}, es un placer
        {{ genero | i18nSelect : invitacionMapa }} a nuestro evento.</p>
      <button pButton pRipple type="button" label="Cambiar persona" icon="pi pi-check" class="p-button-outlined"
        (click)="cambiarPersona()"></button>
    </p-fieldset>
  </div>
  <div class="col-6">
    <p-fieldset legend="I18nPlural Pipe" [toggleable]="true">
      <p>Actualmente {{clientes.length | i18nPlural: clientesMapa}}.</p>
      <button pButton pRipple type="button" label="Borrar cliente" icon="pi pi-check"
        class="p-button-outlined p-button-help" (click)="borrarCliente()"></button>
    </p-fieldset>
  </div>
</div>

<div class="grid">
  <div class="col-6">
    <p-fieldset legend="Slice Pipe" [toggleable]="true">
      <p><b>Original</b></p>
      <pre>{{clientes}}</pre>

      <!-- <span *ngFor="let cliente of clientes">{{cliente}}</span> -->

      <p><b>slice:0:2</b> </p>
      <pre>{{clientes | slice:0:2}}</pre>

      <p><b>slice:1:2</b> </p>
      <pre>{{clientes | slice:1:2}}</pre>
    </p-fieldset>
  </div>
  <div class="col-6">
    <p-fieldset legend="Keyvalue Pipe" [toggleable]="true">
      <ul>
        <li *ngFor="let item of persona | keyvalue">
          <b>{{item.key | titlecase}}</b>: {{item.value}}
        </li>
      </ul>
    </p-fieldset>
  </div>
</div>

<div class="grid">
  <div class="col-6">
    <p-fieldset legend="JSON Pipe" [toggleable]="true">
      <pre>{{persona | json}}</pre>
      <hr>
      <pre>{{heroes | json}}</pre>
    </p-fieldset>
  </div>
  <div class="col-6">
    <p-fieldset legend="Keyvalue Pipe" [toggleable]="true">

    </p-fieldset>
  </div>
</div>
