<div class="text-layout">
  <h1>DecimalPipe y Porcentaje</h1>
  <p>Pipes incluídos en Angular - Usualmente en el Common Module.</p>
</div>

<div class="grid">
  <div class="col-6">
    <p-card header="Number" subheader="Ventas Netas">
      <ul>
        <li><i class="pi pi-dollar"></i> {{ ventasNetas }}</li>
        <hr />
        <li><i class="pi pi-dollar"></i> {{ ventasNetas }} | number</li>
        <hr />
        <li>
          <i class="pi pi-dollar"></i> {{ ventasNetas }} | number: '1.2-2'
        </li>
        <hr />
        <li>
          <i class="pi pi-dollar"></i> {{ ventasNetas }} | number: '1.6-6'
        </li>
        <hr />
        <li>
          <i class="pi pi-dollar"></i> {{ ventasNetas + 1000000 }} | number:
          '1.6-6'
        </li>
      </ul>
    </p-card>
  </div>

  <div class="col-6">
    <p-card header="Number" subheader="Ventas Netas">
      <ul>
        <li><i class="pi pi-dollar"></i>{{ ventasNetas }}</li>
        <hr />
        <li><i class="pi pi-dollar"></i>{{ ventasNetas | number }}</li>
        <hr />
        <li>
          <i class="pi pi-dollar"></i>{{ ventasNetas | number : "1.2-2" }}
        </li>
        <hr />
        <li>
          <i class="pi pi-dollar"></i>{{ ventasNetas | number : "1.6-6" }}
        </li>
        <hr />
        <li>
          <i class="pi pi-dollar"></i
          >{{ ventasNetas + 1000000 | number : "1.2-2" }}
        </li>
      </ul>
    </p-card>
  </div>
</div>

<div class="grid">
  <div class="col-6">
    <p-card header="Currency" subheader="Ventas Brutas">
      <ul>
        <li>{{ ventasNetas + 5000000 }} | currency</li>
        <hr />
        <li>{{ ventasNetas + 5000000 }} | currency: 'USD':'symbol-narrow'</li>
        <hr />
        <li>{{ ventasNetas + 5000000 }} | currency: '€'</li>
        <hr />
        <li>{{ ventasNetas + 5000000 }} | currency: '€' : '' : '1.4-4'</li>
      </ul>
    </p-card>
  </div>

  <div class="col-6">
    <p-card header="Currency" subheader="Ventas Brutas">
      <ul>
        <li>{{ ventasNetas + 5000000 | currency }}</li>
        <hr />
        <li>
          {{ ventasNetas + 5000000 | currency : "USD" : "symbol-narrow" }}
        </li>
        <hr />
        <li>{{ ventasNetas + 5000000 | currency : "€" }}</li>
        <hr />
        <li>{{ ventasNetas + 5000000 | currency : "€" : "" : "1.4-4" }}</li>
      </ul>
    </p-card>
  </div>
</div>

<div class="grid">
  <div class="col-6">
    <p-card header="Porcentaje" subheader="Ganancias %">
      <ul>
        <li>{{ porcentaje }}</li>
        <hr />
        <li>{{ porcentaje }} | percent</li>
        <hr />
        <li>{{ porcentaje }} | percent : '2.2-2'</li>
      </ul>
    </p-card>
  </div>

  <div class="col-6">
    <p-card header="Porcentaje" subheader="Ganancias %">
      <ul>
        <li>{{ porcentaje }}</li>
        <hr />
        <li>{{ porcentaje | percent }}</li>
        <hr />
        <li>{{ porcentaje | percent: '2.2-2' }}</li>
      </ul>
    </p-card>
  </div>
</div>
