<div class="text-layout">
  <h1>Pipes básicos</h1>
  <p>Pipes incluídos en Angular - Usualmente en el Common Module.</p>
</div>

<div class="grid">
  <div class="col-4">
    <p-card header="uppercase" [subheader]="nombreLower | uppercase">
      {{ nombreLower | uppercase }}</p-card
    >
  </div>
  <div class="col-4">
    <p-card header="lowercase" [subheader]="nombreUpper | lowercase">
      {{ nombreUpper | lowercase }}</p-card
    >
  </div>
  <div class="col-4">
    <p-card header="titlecase" [subheader]="nombreCompleto | titlecase">
      {{ nombreCompleto | titlecase }}</p-card
    >
  </div>
</div>

<div class="text-layout">
  <h1>Date | Fecha | Pipe</h1>
  <p>Pipe para mostrar fechas.</p>
</div>

<div class="grid">
  <div class="col-6">
    <p-card>
      <ul>
        <li>fecha</li>
        <hr />
        <li>fecha | date</li>
        <hr />
        <li>fecha | date: short</li>
        <hr />
        <li>fecha | date: long</li>
        <hr />
        <li>fecha | date: dd/MM/yyyy</li>
        <hr />
        <li>fecha | date: MMMM dd, yyyyy</li>
      </ul>
    </p-card>
  </div>
  <div class="col-6">
    <p-card
      ><ul>
        <li>{{ fecha }}</li>
        <hr />
        <li>{{ fecha | date }}</li>
        <hr />
        <li>{{ fecha | date : "short" }}</li>
        <hr />
        <li>{{ fecha | date : "long" }}</li>
        <hr />
        <li>{{ fecha | date : "dd/MM/yyyy" }}</li>
        <hr />
        <li>{{ fecha | date : "MMMM dd, yyyy" }}</li>
      </ul>
    </p-card>
  </div>
</div>

<div class="grid">
  <div class="col-6">
    <p-card>
      <ul>
        <li>fecha | date: long</li>
        <hr />
        <li>fecha | date:long:GMT+2</li>
        <hr />
        <li>fecha | date:long: :en</li>
        <hr />
        <li>fecha | date:long: :fr</li>
        <hr>
        <li>fecha | date:long:GMT+5:de</li>
      </ul>
    </p-card>
  </div>
  <div class="col-6">
    <p-card
      ><ul>
        <li>{{ fecha | date : "long" }}</li>
        <hr />
        <li>{{ fecha | date : "long" : "GMT+2" }}</li>
        <hr />
        <li>{{ fecha | date : "long" : "" : "en" }}</li>
        <hr />
        <li>{{ fecha | date : "long" : "" : "fr" }}</li>
        <hr />
        <li>{{ fecha | date : "long" : "GMT+5": 'de' }}</li>
      </ul>
    </p-card>
  </div>
</div>
